/* Global Settings */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

/* Helper Classes */
/* Float properties */
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

/* Width 100% for images */
.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* Generic CSS */
#topbar {
    background-color: #000;
    padding: 0px 15px;
}
#topbar a {
    color: #fff;
    opacity: 0.6;
}
#topbar ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
#topbar .search {
    padding: 10px;
}
#topbar ul li:hover a {
    opacity: 1;
}

#header {

}

#main-navigation {

}

#main {

}

#footer {

}

/* Page Specific CSS */