body {
    margin: 0px;
    background-color: #E3E6E3;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: lightsteelblue;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#content {
    margin-top: 120px;
}
#content > div {
    background-color: #fff;
}

#sidebar_1 {
    width: 20%;
    padding: 20px;
}
#sidebar_1 ul li {
    padding: 10px 0px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    position: relative;
}
#sidebar_1 ul li a {
    text-decoration: none;
}

#sidebar_1 ul li:after {
    content: "";
    border: 8px solid red;
    border-color: red transparent transparent;
    position: absolute;
    bottom: 10px;
}

#sidebar_1 ul li:last-child {
    border-bottom: none;
}

#main {
    width: 45%;
    margin-left: 2%;
    padding: 10px;
}

#main .article img {
    width: 100%;
}

#main .image {
    position: relative;
}

#main .image .caption {
    position: absolute;
    /* top: 0px; */
    bottom: 20%;
    left: 0%;
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: 20px 0px;
}
#main .image h2{
    margin: 0px;
}
#main .image a {
    color: #fff;
    text-decoration: none;
}


#sidebar_2 {
    width: 25%;
    padding: 10px;
}